.btn_submit {
    color: var(--light);
    background-color: var(--button);
    border-radius: var(--border-radius);
    cursor: pointer;
    width: 30%;
    text-align: center;
}

.phone_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.facebook_link {
    display: flex;
    width: 80%;
    border-radius: var(--border-radius);
    margin: auto;
}